/* 改变主题色变量 */
$--color-primary: #00B8C5;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

body{
  margin: 0;
}

.el-header{
  padding: 0px 20px;
  background-color: darken($--color-primary,5%);
}
